/* HOMEPAGE */

.home {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.home-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  align-items: center;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 550px;
}

.about h2 {
  color: white;
  font-size: 40px;
}

.about p {
  color: #4995a6;
  font-size: 20px;
}

.home-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 370px;
  align-items: center;
  background-color: rgb(194, 221, 230, 0.4);
  height: 400px;
  border-radius: 25px;
}

.home-info input {
  padding: 10px;
  border: none;
  margin: 5px;
  width: 250px;
  border-radius: 15px;
}

.home-info p {
  color: #7babb9;
}

.logo {
  display: flex;
  margin: 20px 100px 50px 0;
  width: 500px;
}

button:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

input:focus,
select:focus {
  box-shadow: 0 0 0 0;
  background-color: #dbeaef;
  outline: 0;
}

.botao-laranja {
  background-color: #f8a978;
  color: #f4f4f4;
  border-radius: 25px;
  padding: 5px 15px;
  font-size: 15px;
  border: 3px solid #f8a978;
  margin: 20px 0;
  transition: 0.2s ease-in-out;
}

.botao-laranja:hover {
  color: #fc9c60;
  background: none;
}

.botao-azul {
  color: #f4f4f4;
  background-color: #8bc4d6;
  border-radius: 25px;
  padding: 5px 15px;
  font-size: 15px;
  border: 3px solid #8bc4d6;
  transition: 0.2s ease-in-out;
}

.botao-azul:hover {
  color: #69aec4;
  background: none;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: rgb(194, 221, 230, 0.4);
  width: 100%;
}

.footer p {
  color: #8bc4d6;
}

.pet-img {
  width: 100px;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}

.client-pets {
  display: flex;
  justify-content: center;
  height: 500px;
}

.client-pet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(239, 250, 255, 0.2);
  border-radius: 25px;
  padding: 20px 20px;
  margin: 50px 20px 0 20px;
  height: 150px;
  width: 150px;
}

.client-pet p {
  color: #4995a6;
  font-size: 15px;
}

.clients h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 40px;
}

.structure h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 40px;
}

.structure img {
  width: 350px;
  margin: 0 30px;
}

.structure-imgs {
  display: flex;
  justify-content: center;
  margin: 150px 0;
}
