.container {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  width: 1000px;
  background-color: rgb(194, 221, 230, 0.4);
  padding: 30px 10px;
  border-radius: 25px;
  margin-top: 20px;
}

.content h3,
p {
  color: #4995a6;
}

.booking-pet-pic {
  display: flex;
  align-items: center;
}

.booking-pet-pic {
  display: flex;
  flex-direction: column;
}

.booking-pet-pic img {
  width: 200px;
}
