.container-petpicker {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  width: 100%;
  cursor: pointer;
  background-color: rgba(215, 232, 238, 0.4);
  padding: 20px 0;
  border-radius: 25px;
}

.container-petpicker:hover {
  background-color: rgba(174, 208, 221, 0.4);
}

.container-petpicker-selected {
  background-color: rgba(174, 208, 221, 0.4);
  padding: 20px;
  border-radius: 25px;
}
