.dash-container {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.dashboard {
  display: flex;
  flex-direction: column;
  background-color: rgb(194, 221, 230, 0.4);
  line-height: 0.5;
  width: 800px;
  border-radius: 25px;
  padding: 30px;
}

.dashboard img {
  width: 150px;
}

.dashboard h2 {
  color: #f4f4f4;
  font-size: 25px;
  text-shadow: 0.5px 1px 0px #d5e6eb;
  letter-spacing: 2px;
  margin-bottom: 25px;
}

.dashboard h4 {
  color: #4995a6;
}

.dashboard p {
  color: #4995a6;
  font-size: 14px;
  line-height: 10px;
}

/* FIRST ROW */

.first-row {
  display: flex;
  flex-direction: row;
}

/* ABOUT */

.sobre-humano {
  width: 400px;
  margin-bottom: 100px;
  margin-left: 30px;
}

.pet-div h2 {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.each-pet {
  width: 250px;
  margin: 40px 5px;
  background-color: rgba(215, 232, 238, 0.4);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px 0 10px;
}

.each-pet:hover {
  background-color: rgba(174, 208, 221, 0.4);
}

.each-pet img {
  margin-bottom: 10px;
}

.add-pet-btn {
  display: flex;
  justify-content: center;
}
.all-pets {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pet-text {
  height: 180px;
}

/* AGENDAMENTO */

.payment-btn {
  display: flex;
  justify-content: center;
}

.agenda-btn {
  display: flex;
  justify-content: center;
}
