.logo-navbar {
  display: flex;
  justify-content: center;
  height: 80px;
  width: 100%;
}

.logo2 {
  height: 70px;
  margin-top: 20px;
}

/* RESPONSIVIDADE */

/* EXTRA SMALL */

@media (max-width: 575px) and (orientation: portrait) {
  .logo2 {
    height: 55px;
  }
}
