@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

body {
  background: linear-gradient(#8bc4d6, #e6edf0) no-repeat center center fixed;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
}
